#brand-logo img {
	height: 50px;
}

#top-bar {
	height: 100px;
	width: 100%;
	border-bottom: 2px solid chocolate;
}

#header-address div{
	margin-left: 30px;
}

#header-address div h5{
	font-size: 16px;
	font-weight: 800;
}

nav ul li:not(:first-child) {
	margin: 0 40px;
}

.contact-icons {
	font-size: 40px;
	color: chocolate;
	padding-right: 0;
}

/* Responsive Top-Bar */
@media only screen and (max-width: 975px){
	#header-address div {
		display: none;
	}
	#brand-logo {
		display: block;
		margin: auto;
	}
}